* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-weight: bold;
  font-size: 1rem;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7F7F7;
}

.container {
  width: 350px;
  border: 1px solid #000000;
  padding: 32px;
  background-color: #FFFFFF;
  position: relative;
}

.reset-btn {
  display: block;
  position: absolute;
  padding: 8px 24px;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  top: -20px;
  cursor: pointer;
}

.container input {
  margin-top: 8px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
}

@media(max-width: 600px) {
  .container {
    margin-left: 40px;
    margin-right: 40px;
    max-width: 300px;
  }
}

@media(max-width: 400) {
  .container {
    max-width: 280px;
  }
}